# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  batch: true
  branches:
    include:
    - master

variables:
- group: AzureKeyVault

jobs:
- job: MLAKSDeployAMLJob
  timeoutInMinutes: 300
  cancelTimeoutInMinutes: 2
  pool:
    name: AKSDeployment
    vmImage: 'GpuSelfHostedAgent'

  steps:
  - script: echo Hello, AKSDeployment!
    displayName: 'Builds source for AKSDeploymentTutorialAML/Keras_Tensorflow'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      which conda
      cd Keras_Tensorflow
      conda env create -f tutorial_env.yml
      source activate tutorial_env
      conda env list  
      echo Docker Setup
      #sudo usermod -aG docker $USER
      echo Login Azure Account
      az login -t $(sptenent) --service-principal -u $(spidentity) --password $(spsecret)
      az account set --subscription $(subscriptionid)
    displayName: 'Build Configuration'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      source activate tutorial_env
      cd Keras_Tensorflow
      papermill 00_AMLSetup.ipynb 00_AMLSetup_output.ipynb --log-output --no-progress-bar -k python3 -p resource_group $(azureresourcegroup) -p workspace_name $(workspacename) -p workspace_region  $(azureregion) -p subscription_id $(subscriptionid) -p model_name 'resnet_model' -p image_name 'modelimg' -p aks_name 'aksdeployamlaks' -p aks_service_name 'aksamlsvc' -p aks_location $(azureregion)
    displayName : '00_AMLSetup.ipynb'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      source activate tutorial_env
      cd Keras_Tensorflow
      papermill 01_DevelopModel.ipynb 01_DevelopModel_output.ipynb --log-output --no-progress-bar -k python3 
    displayName : '01_DevelopModel.ipynb'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      source activate tutorial_env
      cd Keras_Tensorflow
      papermill 02_DevelopModelDriver.ipynb 02_DevelopModelDriver_output.ipynb --log-output --no-progress-bar -k python3 
    displayName : '02_DevelopModelDriver.ipynb'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      source activate tutorial_env
      cd Keras_Tensorflow
      papermill 03_BuildImage.ipynb 03_BuildImage_output.ipynb --log-output --no-progress-bar -k python3 
    displayName : '03_BuildImage.ipynb'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      source activate tutorial_env
      cd Keras_Tensorflow
      papermill 04_DeployOnAKS.ipynb 04_DeployOnAKS_output.ipynb --log-output --no-progress-bar -k python3 
    displayName : '04_DeployOnAKS.ipynb'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      source activate tutorial_env
      cd Keras_Tensorflow
      papermill 05_TestWebApp.ipynb 05_TestWebApp_output.ipynb --log-output --no-progress-bar -k python3 
    displayName : '05_TestWebApp.ipynb'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      source activate tutorial_env
      cd Keras_Tensorflow
      papermill 06_SpeedTestWebApp.ipynb 06_SpeedTestWebApp_output.ipynb --log-output --no-progress-bar -k python3 
    displayName : '06_SpeedTestWebApp.ipynb'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      source activate tutorial_env
      cd Keras_Tensorflow
      papermill 07_TearDown.ipynb 07_TearDown_output.ipynb --log-output --no-progress-bar -k python3 
    displayName : '07_TearDown.ipynb'

  - bash: |
      source /usr/share/miniconda/etc/profile.d/conda.sh
      echo Remove Conda Environment
      conda remove -n 'tutorial_env' --all -q --force -y
      conda env list  
      echo Ensure Resource Group Deletion
       existResponse=$(az group exists -n $(azureresourcegroup))
      if [ "$existResponse" == "true" ]; then
        echo Deleting project resource group  
        az group delete --name $(azureresourcegroup) --yes
      else
        echo Project resource group did not exist
      fi
      echo Done Cleanup
    displayName: 'Cleanup Task'
    condition: always()